body {
  background-image:url("images/artjungle bkgd color only.svg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

canvas {
  display: block;
}

footer {
     position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: right;


}


.imgstyle {
     width: 75%;
            height: auto;
              display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}


section {
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.projectbutton {
  width: 100px;
  border-radius: 0px;
  /*border: 2px solid #FFFFFF;*/
}


/*.projectbutton:hover {box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4);}*/


.hide {
  display: none;
}

.projectbutton:hover + .hide {
  display: block;
  /*color: red;*/
  /*{box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4);}*/
}

.glow-on-hover {
    width: 100px;
    height: 70px;
    border: none;
    outline: none;
    color: #fff;
    background: #000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  color: white;
  font-family: "Trirong", serif;
  padding-bottom: 5px;
  font-size: 12px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





h1 {
  color: blue;
}
h3 {
  color: white;
  text-align: center;
  /*padding-right: 10%;*/
    font-family: "Trirong", serif;
    font-size: 12px;
}


p {
  color: gray;
  font-family: "Trirong", serif;
  padding-right: 10%;
  font-size: 12px;
}
pre {
  color: white;
  display: inline;
  text-align: center;
}








